<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
<head>
<meta charset="UTF-8">
<title>Deposit Form</title>
</head>
<body>

	<div class="container" layout:fragment="content">
		<h1>Make a Deposit</h1>
		<hr />
		<form th:action="@{/transactions/deposit/{id}(id=${account.accountId})}" th:object="${account}"
			method="post">
			<span th:if="${#fields.hasErrors('*')}" th:errors="*{*}" class="text-danger"></span>
			
			<input type="hidden"  name="accountId" th:value="${account.accountId}"/>
			<input type="hidden"  name="accountNumber" th:value="${account.accountNumber}"/>
			
			<div class="form-group row">
				<label for="balance" class="col-sm-2 col-form-label">Amount</label>
				<div class="col-sm-10">
					<input type="float" class="form-control" id="balance"
						name="balance" required>
						
				</div>
			</div>
			
			<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Send</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>