
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
<head>

<meta charset="ISO-8859-1">

<title>User - Details</title>
</head>
<body>

	<div class="container" layout:fragment="content">
		
		<h3>User
			<span style="float: right;"> 
				<a class="btn btn-outline-primary btn-lg"
				th:href="@{/accounts/new/{id}(id=${user.userId})}">Open an Account</a>
				
				 <a class="btn btn-outline-primary btn-lg"
					th:href="@{/transactions/deposit/{id}(id=${user.userId})}">Make a Deposit</a>
					
				 <!-- <a class="btn btn-outline-primary btn-lg"
					th:href="@{/transactions/send/{id}(id=${user.userId})}">Send Money</a> -->
				
				<a	class="btn btn-outline-primary btn-lg"
					th:href="@{/transactions/transfer/{id}(id=${user.userId})}">Transfer Money</a>
				
			</span>
		</h3>
		
		<hr />
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">User Number</th>
					<th scope="col">First Name</th>
					<th scope="col">Middle Name</th>
					<th scope="col">Last Name</th>
					<th scope="col">Email Address</th>
					<th scope="col">Contact Phone Number</th>
					<th scope="col">Date of Birth</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${user.userNumber}"></td>
					<td th:text="${user.firstName}"></td>
					<td th:text="${user.middleName}"></td>
					<td th:text="${user.lastName}"></td>
					<td th:text="${user.emailAddress}"></td>
					<td th:text="${user.contactPhoneNumber}"></td>
					<td th:text="${user.dateOfBirth}"></td>
				</tr>
			</tbody>
		</table>
		<h3>Accounts 
			
			<span th:if="${error}" th:text="${error}" class="text-danger" ></span>
			
		</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Account Type</th>
					<th scope="col">Account Balance</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each = "detail : ${userAccountTypes}" >
					<td th:text="${detail.actType.accountTypeName}"></td>
					<td th:text="${detail.account.balance}"></td>
				</tr>
				<tr th:if="${accountTypeCount < 1}">
					<td colspan="12" style="text-align: center;">No accounts yet</td>
				</tr>
			</tbody>
		</table>
		
	</div>

</body>
</html>