<header th:fragment="header" xmlns:th="http://www.thymeleaf.org">
	<!-- header in this line is a placeholder fragment name -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="/">HopeBank</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarColor01" aria-controls="navbarColor01"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="/users/new">Register</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="/users/list">Customers</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="/accounts/list">Accounts</a>
				<!-- </li>
				<li class="nav-item"><a class="nav-link" href="/accountTypes/new">Add a new Account Type</a> 
				</li>-->
				<li class="nav-item"><a class="nav-link" href="/transactions/list">Transactions</a>
				</li>
			</ul>
		</div>
	</nav>
</header>