<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
<head>
<meta charset="ISO-8859-1">
<title>Account List</title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<h1>List of all Accounts 
			<!-- <span style="float:right;"> 
				<a class="btn btn-outline-primary btn-lg" th:href="@{/users/new}">Add a User</a>
         	</span> -->
          </h1>
		
		<hr />
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Account User</th>
					<th scope="col">Account Number</th>
					<th scope="col">Account Type</th>
					<th scope="col">Account Balance</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="account, iter : ${accounts}">
                        <th scope="row" th:text="${iter.count}"></th>
                        <td><a th:text="${account.accountUser.userId}" th:href="@{/users/details/{id}(id=${account.accountUser.userId})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                        <td th:text="${account.accountNumber}"></td>
                     	<td th:text="${account.accountType.accountTypeName}"></td>
                        <td th:text="${account.balance}"></td>
                    </tr>
                    <tr th:if="${accountCount < 1}">
                        <td colspan="6" style="text-align: center;">No Accounts available</td>
                    </tr>
                    <!-- <tr>
                    	<td> </td>
                    </tr> -->
			</tbody>
		</table>
		<h3> Bank Liquidity: <span th:text="${bankLiquidity}"></span></h3> 
	</div>

</body>
</html>