<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
<head>
<meta charset="UTF-8">
<title>Account add form</title>
</head>
<body>

	<div class="container" layout:fragment="content">
		<h1>Account Add Form</h1>
		<hr />
		<form th:action="@{/accounts/new/{id}(id=${user.userId})}" th:object="${account}"
			method="post">
			<input type="hidden" class="form-control" id="accountUser" name="accountUser" th:value = "${user.userId}">
			<span th:if="${#fields.hasErrors('*')}" th:errors="*{*}"
				class="text-danger"></span>

			<div class="form-group row">
				<label for="accountNumber" class="col-sm-2 col-form-label">Account
					Number</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" id="accountNumber"
						name="accountNumber">
					<!-- <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span> -->
				</div>
			</div>
			<div class="form-group row">
				<label for="balance" class="col-sm-2 col-form-label">Account
					Balance</label>
				<div class="col-sm-10">
					<input type="float" class="form-control" id="balance"
						name="balance" th:value="0">
					<!-- <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span> -->
				</div>
			</div>
			
			<div class="form-group">
				<label for="supplier">User:</label> 
				<!-- <span
					th:if="${#fields.hasErrors('supplier')}" th:errors="*{supplier}"
					class="alert alert-danger"></span>  -->
					<select name="accountType" id="accountType" class="form-control" required="required">
					<option value="">Select accountType</option>
					<option th:if="${account.accountType == null}"
						th:each="accountType : ${accountTypes}"
						th:value="${accountType.accountTypeId}" th:text="${accountType.accountTypeName}"></option>
					<option th:if="${account.accountType != null}"
						th:each="accountType : ${accountTypes}"
						th:value="${accountType.accountTypeId}" th:text="${accountType.accountTypeName}"
						th:selected="${accountType.accountTypeId == account.accountType.accountTypeId}"></option>
				</select>
			</div>
			<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Add</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>